<div class="category">
    <div class="groupCategory">
        <div class="titleGroupCategory">
            <h3>
                <a href="/product/manage/1">
                    Quan ly san pham
                </a>
            </h3>
        </div>
    </div>
    <div class="groupCategory">
        <div class="titleGroupCategory">
            <h3>
                <a href="/user/manage/1">
                    Quan ly nguoi dung
                </a>
            </h3>
        </div>
    </div>
    <div class="groupCategory">
        <div class="titleGroupCategory">
            <h3>
                Group
            </h3>
        </div>
        <ul class="listGroupCategory hidden">
            <li class="itemGroupCategory">
                <a href="">Loai 1</a>
            </li>
            <li class="itemGroupCategory">
                <a href="">
                    Loai 2
                </a>
            </li>
        </ul>
    </div>
</div>