<header>
    <div class="header">
        <div class="leftHeader">
            <a href="./">
                <h3>Cong ty tu nhan</h3>
            </a>
        </div>

        <div class="rightHeader">
            <div class="generalAccount">
                <img src="/images/img_avatar.png" alt="Avatar for account">
                <!-- <div class="dropdownIcon">
                    dropdown 
                </div> -->
            </div>
            <div class="listActionAccount hidden">
                <div class="groupActionAccount">
                    <div class="itemActionAccount">
                        <a href="./login">
                            Login 
                        </a> 
                    </div>
                    <div class="itemActionAccount">
                        <a href="./register">
                            Sign up
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>