<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./css/global/global.css" rel="stylesheet">
    <link href="./css/home.css" rel="stylesheet">
</head>
<body>
    <%- include("./global/header") %>
    <main>
        <%- include("./global/category") %>

        <div class="content">
            <h2>Home Page</h2>
            <div class="groupBoxContent">
                
            </div>
        </div>
    </main>

    <%- include("./global/footer") %>

</body>
</html>